Repository discordrb/discordrb, pull requests merged in 2018-04, with the labels that each got.

#472 Deprecate TrueClass as a logger alias for :debug
  lib/discordrb/bot.rb
Labels: breaking-change, logging

#477 Add topic and parent_id to Server#create_channel and API::Server#create_channel
  lib/discordrb/api/server.rb
  lib/discordrb/data.rb
Labels: api-support, enhancement

#484 Fix ReactionEvent not returning server
  lib/discordrb/events/reactions.rb
Labels: bug, events

#479 Fix issue with ban reasons being mangled or rejected
  lib/discordrb/api/server.rb
Labels: enhancement
