Repository discordrb/discordrb, pull requests merged in 2018-03, with the labels that each got.

#435 API methods / abstractions for fetching and modifying the guild embed settings
  lib/discordrb/api/server.rb
  lib/discordrb/data.rb
Labels: api-support, enhancement

#449 Fix logger when token is an empty string
  lib/discordrb/logger.rb
Labels: bug, logging

#415 Implement channel categories
  lib/discordrb/api/channel.rb
  lib/discordrb/api/server.rb
  lib/discordrb/data.rb
Labels: api-support, enhancement

#446 Adds methods for modifying the command bot's allowed channel list
  lib/discordrb/commands/command_bot.rb
  spec/commands_spec.rb
Labels: commands, enhancement

#412 ensure_user when initializing a message with an uncached author
  lib/discordrb/data.rb
  spec/data/message.json
  spec/data_spec.rb
Labels: bug, caching

#454 Invite Counts
  lib/discordrb/api/invite.rb
  lib/discordrb/data.rb
Labels: api-support, enhancement

#445 Adds the ability to change a role's position
  lib/discordrb/api/server.rb
  lib/discordrb/data.rb
  spec/data/role.json
  spec/data_spec.rb
Labels: api-support, enhancement

#462 Retrieve the value from `LocalJumpError`s...
  lib/discordrb/commands/parser.rb
Labels: commands

#464 Animated Emoji Support
  lib/discordrb/bot.rb
  lib/discordrb/data.rb
  spec/data/emoji.json
  spec/data_spec.rb
Labels: enhancement

#468 Add extra devkit instructions to README.md
  README.md
Labels: documentation
